<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <!-- CSS -->
  <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
  <div class="nav-container">

    <div class="logo-section">
      <a href="#">
        <h1 class="smart">SMART</h1><h1 class="shop">SHOP</h1>
      </a>
    </div>

    <div class="nav-section">
      <ul class="navbar">
        <li class="nav-item">
          <a href="#">Home</a>
        </li>
        <li class="nav-item">
          <a href="#">Shop</a>
        </li>
        <li class="nav-item">
          <a href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </div>

    <div class="user-section">
      <img src="../static/img/user.png" alt="">
      <img src="../static/img/cart.png" alt="">
    </div>
  </div>


  <div class="search-container">

    <div class="category-section">
      <div class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>

      <div class="categories-text">
        <p>Categories</p>
      </div>
    </div>

    <div class="search-section">
      <input type="text" placeholder="Search for the product">
      <img src="../static/img/search.png" alt="">
    </div>
  </div>


  <div class="product-container">

    <div class="heading-section">
      <h3>Check The Best Deals</h3>
    </div>

    <div class="products-section">
      <div class="phone-section">
        <div class="phone-image">
          <img src="../static/img/phone1.png" alt="">
        </div>
        <div class="description">
          <div class="general-info">
            <div class="brand-name">Galaxy A32 5G</div>
            <div class="price">650 GEL</div>
          </div>
          <hr>
          <div class="additional-info">
            <div class="added">Recently added</div>
            <div class="see-more">See more...</div>
          </div>
        </div>
      </div>

      <div class="phone-section">
        <div class="phone-image">
          <img src="../static/img/phone2.png" alt="">
        </div>
        <div class="description">
          <div class="general-info">
            <div class="brand-name">iPhone 8 Plus</div>
            <div class="price">1050 GEL</div>
          </div>
          <hr>
          <div class="additional-info">
            <div class="added">product added: July 7</div>
            <div class="see-more">See more...</div>
          </div>
        </div>
      </div>

      <div class="phone-section">
        <div class="phone-image">
          <img src="../static/img/phone3.png" alt="">
        </div>
        <div class="description">
          <div class="general-info">
            <div class="brand-name">iPhone X</div>
            <div class="price">1390 GEL</div>
          </div>
          <hr>
          <div class="additional-info">
            <div class="added">product added: July 11</div>
            <div class="see-more">See more...</div>
          </div>
        </div>
      </div>

      <div class="phone-section">
        <div class="phone-image">
          <img src="../static/img/phone4.png" alt="">
        </div>
        <div class="description">
          <div class="general-info">
            <div class="brand-name">Galaxy S9</div>
            <div class="price discount"><p>950GEL</p>700 GEL</div>
          </div>
          <hr>
          <div class="additional-info">
            <div class="added">product added: July 14</div>
            <div class="see-more">See more...</div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="footer-container">

    <div class="social-section">
      <div class="logo-section">
        <h3>SMARTSHOP.</h3>
      </div>
      <div class="social-links">
        <img src="../static/img/instagram.png" alt="">
        <img src="../static/img/Linkedin.png" alt="">
        <img src="../static/img/Twitter.png" alt="">
      </div>
    </div>

    <div class="links-section">
      <div class="links-column">
        <ul>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="">About Us</a>
          </li>
          <li>
            <a href="">Blog</a>
          </li>
        </ul>
      </div>
      <div class="links-column">
        <ul>
          <li>
            <a href="">Shop</a>
          </li>
          <li>
            <a href="">Categories</a>
          </li>
        </ul>
      </div>
      <div class="links-column">
        <ul>
          <li>
            <a href="">Contact us</a>
          </li>
          <li>
            <a href="">+995 678 465 993</a>
          </li>
          <li>
            <a href="">info@smartshop.ge</a>
          </li>
        </ul>
      </div>
      <div class="links-column"></div>
      <div class="links-column"></div>
    </div>

    <div class="subscription-section"></div>
  </div>

</body>
</html>